<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Dá voz à tua voz.</title>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="stylesheet" media="all" href="css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body id="home">

    <header>

        <form id="signup" action="#" method="get" class="container clearfix">
            <label for="title">Ouve, </label>

            <input id="title" type="text" name="title" placeholder="e dá voz à tua voz" />

            <div id="submit">
                <input type="submit" value="Faz-te ouvir" />
                <img src="./images/submit_button_icon.png" alt="Submete a cena, moço" />
            </div>

        </form>

    </header>

    <section id="content" class="container clearfix">

        <aside class="clearfix">

            <section id="ministerio">

                <div id="ministerioHead" class="clearfix">
                    <h3>Saúde</h3>
                    <img src="./images/ministerio_arrow.png" alt="Muda o ministério, moço" />
                </div>

                <ul>
                    <li>Ministério I</li>
                    <span class="separator"></span>
                    <li>Ministério I</li>
                    <span class="separator"></span>
                    <li>Ministério I</li>
                    <span class="separator"></span>
                    <li>Ministério I</li>
                    <span class="separator"></span>
                    <li>Ministério I</li>
                    <span class="separator"></span>
                    <li>Ministério I</li>
                    <span class="separator"></span>
                    <li>Ministério I</li>
                    <span class="separator"></span>
                    <li>Ministério I</li>
                </ul>

            </section>

            <section id="map">
                <span class="pos" style="left: 10px; top: 50px">1</span>
                <span class="pos" style="left: 40px; top: 0px">2</span>
                <span class="pos" style="left: 200px; top: 100px">3</span>
                <span class="pos" style="left: 50px; top: 280px">4</span>
            </section>

        </aside>

        <section id="ouves">

            <article class="ouve clearfix">

                <img class="photo" src="./images/helio.png" />

                <div class="info">
                    <h3>A mim, o governo não me assiste</h3>

                    <div class="tags">
                        <span>medo</span>
                        <span>não</span>
                        <span>assiste</span>
                    </div>
                </div>

                <div class="social">
                    <div class="socialItem">
                        <span>3</span>
                        <img src="./images/comments.png" alt="Comentários" />
                    </div>

                    <div class="socialItem">
                        <span>3</span>
                        <img src="./images/like.png" alt="Fixes" />
                    </div>

                </div>
                
            </article>

            <span class="separator"></span>

            <article class="ouve clearfix">

                <img class="photo" src="./images/helio.png" />

                <div class="info">
                    <h3>A mim, o governo não me assiste</h3>

                    <div class="tags">
                        <span>medo</span>
                        <span>não</span>
                        <span>assiste</span>
                    </div>
                </div>

                <div class="social">
                    <div class="socialItem">
                        <span>3</span>
                        <img src="./images/comments.png" alt="Comentários" />
                    </div>

                    <div class="socialItem">
                        <span>3</span>
                        <img src="./images/like.png" alt="Fixes" />
                    </div>

                </div>
                
            </article>

            <span class="separator"></span>


            <article class="ouve clearfix">

                <img class="photo" src="./images/helio.png" />

                <div class="info">
                    <h3>A mim, o governo não me assiste</h3>

                    <div class="tags">
                        <span>medo</span>
                        <span>não</span>
                        <span>assiste</span>
                    </div>
                </div>

                <div class="social">
                    <div class="socialItem">
                        <span>3</span>
                        <img src="./images/comments.png" alt="Comentários" />
                    </div>

                    <div class="socialItem">
                        <span>3</span>
                        <img src="./images/like.png" alt="Fixes" />
                    </div>

                </div>
                
            </article>

            <span class="separator"></span>


            <article class="ouve clearfix">

                <img class="photo" src="./images/helio.png" />

                <div class="info">
                    <h3>A mim, o governo não assiste</h3>

                    <div class="tags">
                        <span>medo</span>
                        <span>não</span>
                        <span>assiste</span>
                    </div>
                </div>

                <div class="social">
                    <div class="socialItem">
                        <span>3</span>
                        <img src="./images/comments.png" alt="Comentários" />
                    </div>

                    <div class="socialItem">
                        <span>3</span>
                        <img src="./images/like.png" alt="Fixes" />
                    </div>

                </div>
                
            </article>

        </section>

    </section>

    <footer class="container">
    </footer>

</body>
</html>
